<div class="profile" ng-show="profileInfo.name">
  <div>Profile for @{{handle}}:</div>
  <div class="profile-info">
    <ul class="profile-details">
      <li>Name: {{profileInfo.name}}</li>
      <li>Location: {{profileInfo.location}}</li>
      <li>Member Since: {{profileInfo.signupYear}}</li>
      <li>Following {{profileInfo.following}} / Followed by {{profileInfo.followers}}</li>
    </ul>
  </div>
</div>
<div class="profile" ng-hide="profileInfo.name">
  <div>Looking up profile info for @{{handle}}</div>
</div>
